doctype html
html(lang="en")
	head 
		meta(charset="UTF-8")
		title Memory-Pair-Game
		link(rel="stylesheet", href="style.css")
		link(rel="icon", href="images/game-controller.png")
		script(src="js/script.js" defer)
	body
		.container
			.flipper
				div
					img(draggable="false" src="images/man1.jpg", alt="man1")
				div
					img(draggable="false" src="images/man2.jpg", alt="man2")
				div
					img(draggable="false" src="images/man3.jpg", alt="man3")
				div
					img(draggable="false" src="images/man4.jpg", alt="man4")
				div
					img(draggable="false" src="images/man5.jpg", alt="man5")
				div
					img(draggable="false" src="images/man6.jpg", alt="man6")
				div
					img(draggable="false" src="images/man1.jpg", alt="man1")
				div
					img(draggable="false" src="images/man2.jpg", alt="man2")
				div
					img(draggable="false" src="images/man3.jpg", alt="man3")
				div
					img(draggable="false" src="images/man4.jpg", alt="man4")
				div
					img(draggable="false" src="images/man5.jpg", alt="man5")
				div
					img(draggable="false" src="images/man6.jpg", alt="man6")
			img.preload(draggable="false" src="images/back.jpg", alt="man6")
