doctype html
html(lang="en")
	head 
		meta(charset="UTF-8")
		title HTML 5 FORM
		link(rel="stylesheet", href="style.css")
	body
		.container
			.header
				button.go-back GO BACK
				img.logo-header(src="images/logo_header.png", alt="logo-header")
				button.sign-in SIGN IN
			.form
				.form-header
					.order
						button.place-order
							span PLACE ORDER
						button.print-a-quote
							span PRINT A QUOTE
						.your-order YOUR ORDER
						.order-info
							.items
								span ITEMS
								span 2 documents
							.details
								span DETAILS
								span 2 languages
							.price
								span PRICE
								span $ 696.06
							.delivery
								span DELIVERY
								span 48 hours*
					.help-center
						p.help-center-logo HELP CENTER
						p.help-center-text If you need assistance while placing your order, contact one of our beloved Project Manager by phone or email
						a.help-center-phone +971(0) 555 555
						a.help-center-email help@qtest.com
				.form-body
					p.form-body-logo SELECT WHAT YOU WANT TO TRANSLATE
					.select-document
						.website
						.documents
						.social-account

