doctype html
html(lang="en")
	head 
		meta(charset="UTF-8")
		title Friend-App
		link(rel="stylesheet", href="style.css")
		link(rel="icon", href="images/game-controller.png")
		script(src="js/script.js" defer)
	body
		div.hello
 
