body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #888;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 1300px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    margin-right: 25px;
    margin-left: 0px;
    top: 55px;
    position: relative;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.data-text {
    position: relative;
    top: 45px;
    width: 1000px;
    font-size: 16px;
    line-height: 22px;
    font-family: sans-serif;
}

h1 {
    position: relative;
    top: 30px;
    font-size: 45px;
    text-align: center;
}

.container {
    position: absolute;
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

a {
    margin-bottom: 3px;
    top: 10px;
    height: 30px;
    position: relative;
    display: inline-block;
    background-color: #454545FF;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: 1em 2em 0.5em 2em;
    outline: none;
    border: 1px solid;
    border-radius: 1px;
    transition: all ease 0.2s;
}

a:hover {
    background: #888;
    cursor: pointer;
    box-shadow: -5px 5px 50px 20px #888;
    border-right: 10px solid;
    border-left: 10px solid;
    z-index: 1;
}

a:active {
    z-index: 1;
    /*transition: all ease 0.2s;*/
    /*margin-right: -20px;*/
    border-right: 10px solid;
    border-left: 10px solid;
    box-shadow: -5px 5px 50px 20px #888;
    /*transform: scale(1.1); #C0C0C0FF*/
    background: #D52940FF;
}

a::before {
    top: 50px;
    left: 40px;
    position: relative;
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
}

a::after {
    position: relative;
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
}



@media screen and (max-width: 1000px) {

    nav {
        z-index: 1;
        height: 300px;
        width: 150px;
        top: 0px;
        padding: 400px 10px 100% 10px;
        position: fixed;
        margin-left: -170px;
        transition: all ease .2s;
        background-color: #454545FF;
        left: 0px;
    }

    a {
        top: -200px;
        left: 0px;
    }

    .data-text {
        margin-top: -15px;
        margin-left: 20px;
        margin-right: 10px;
    }

    .burger {
        position: absolute;
        z-index: 3;
        /*        background-color: red;*/
        width: 40px;
        height: 25px;
        top: 35px;
        left: 25px;
    }

    .burger:hover {
        cursor: pointer;
    }

    .burger1 {
        /* box-shadow: 0px 10px 0px 20px #888 ;*/
        z-index: 2;
        border-radius: 20px;
        position: absolute;
        top: 35px;
        left: 25px;
        width: 40px;
        height: 5px;
        background-color: orange;
    }

    .burger2 {
        z-index: 2;
        border-radius: 20px;
        position: absolute;
        top: 45px;
        left: 25px;
        width: 40px;
        height: 5px;
        background-color: orange;
    }

    .burger3 {
        z-index: 2;
        border-radius: 20px;
        position: absolute;
        top: 55px;
        left: 25px;
        width: 40px;
        height: 5px;
        background-color: orange;
    }
}


